
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';


*{
  /*border: 1px solid red;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
}

.container{
  margin: 2% 5%;
}
